# hugo.toml ( Hugo Coder 主题适配版)

baseURL = "https://QwQBiG.github.io/"
languageCode = "zh-cn"
title = "QwQBiG's Blog"
theme = "github.com/luizdepra/hugo-coder"

# 分页
[pagination]
  pagerSize = 10

[params]
    author = "QwQBiG"
    info = "114514，1919810。"
    # 你可以在 static/images/ 目录下放一张头像图片，然后在这里写 "images/avatar.jpg"
    # avatarURL = "" 
    # 将主页设置为文章列表模式，而不是个人简介模式
    home = "posts"

    # 菜单和社交链接
    [[params.social]]
        name = "Github"
        icon = "fa-brands fa-github"
        weight = 1
        url = "https://github.com/QwQBiG"
    [[params.social]]
        name = "Bilibili"
        icon = "fa-brands fa-bilibili"
        weight = 2
        url = "https://space.bilibili.com/3546921071282890"
        
    # 文章和代码相关配置
    [params.code]
      copy = true # 开启代码块的“复制”按钮
      
    [params.toc]
      auto = true # 自动为包含标题的文章开启目录
    
    # 加载自定义 CSS 文件，用于更换字体
    customCSS = ["css/custom.css"]

# 主菜单配置
[menu]
  [[menu.main]]
    name = "博客" # Coder 主题一般用“博客”或“文章”来代替“归档”
    weight = 1
    url = "/posts/"
  [[menu.main]]
    name = "标签"
    weight = 2
    url = "/tags/"
  [[menu.main]]
    name = "关于"
    weight = 3
    url = "/about/"