# 最小化安全配置文件
baseURL = "https://QwQBiG.github.io/"
languageCode = "zh-cn"
title = "QwQBiG's Blog"
theme = "github.com/adityatelange/hugo-PaperMod"

[params]
  # 这是我们唯一要测试的功能
  [params.Toc]
    enable = true
    keepStatic = false
    autoEnable = true