# hugo.toml (ТјеУЇљуџёт«їТЋ┤жЁЇуй«)

baseURL = "https://QwQBiG.github.io/"
languageCode = "zh-cn" # т╗║У««С┐«Тћ╣СИ║СИГТќЄ№╝їт»╣СИ╗жбўТЏ┤тЈІтЦй
title = "QwQBiG's Blog" # У┐ЎТў»СйауџёуйЉуФЎТђ╗ТаЄжбў
theme = "github.com/adityatelange/hugo-PaperMod"

[markup]
  [markup.highlight]
    # true: тюеС╗БуаЂтЮЌСИГТўЙуц║УАїтЈи
    lineNos = true
    # noClasses = false # С┐ЮТїЂж╗ўУ«цтЇ│тЈ»
    # style = "monokai" # тЈ»С╗ЦжђЅТІЕС╗БуаЂжФўС║«СИ╗жбў№╝їтдѓ dracula, github, monokai уГЅ
    [markup.goldmark.renderer]
      unsafe = true

[outputs]
  home = ["HTML", "RSS", "JSON"] # уА«С┐Ю homeС╝џУЙЊтЄ║ JSON Та╝т╝Ј№╝ѕСИ║С║єТљюу┤б№╝Ѕ

[taxonomies]
  tag = "tags"
  category = "categories"
  series = "series"  # тљ»ућеС║єРђюу│╗тѕЌРђЮтіЪУЃй

# СИ╗УЈютЇЋжЁЇуй«
[menu]
  [[menu.main]]
    identifier = "archives"
    name = "тйњТАБ"
    url = "/archives/"
    weight = 10 # ТЮЃжЄЇтє│т«џС║єУЈютЇЋуџёжА║т║Ј№╝їТЋ░тГЌУХітцДУХіжЮатљјсђѓ
  [[menu.main]]
    identifier = "series"
    name = "тљѕжЏє"
    url = "/series/"
    weight = 15
  [[menu.main]]
    identifier = "tags"
    name = "ТаЄуГЙ"
    url = "/tags/"
    weight = 20
  [[menu.main]]
    identifier = "about"
    name = "тЁ│С║ј"
    url = "/about/"
    weight = 30
  [[menu.main]]
    identifier = "search"
    name = "Тљюу┤б"
    url = "/search/" # ТїЄтљЉТљюу┤бжАхжЮб
    weight = 40

# У┐ЎТў»ТюђтЁ│жћ«уџётЈѓТЋ░жЁЇуй«жЃетѕє
[params]

    mainSections = ["posts", "series"]

    ShowCodeCopyButtons = true

    ShowReadingTime = true

    # 1. тЁ│жЌГуЅ╣Т«іуџёРђюСИфС║║УхёТќЎРђЮСИ╗жАхТеАт╝Ј
    # У┐ЎС╝џУ«ЕСйауџёСИ╗жАхтЈўТѕљСИђСИфТаЄтЄєуџёТќЄуФатѕЌУАе
    [params.profileMode]
        enabled = false

    # 2. тюеСИ╗жАхТќЄуФатѕЌУАеСИіТќ╣ТўЙуц║СИђСИфТгбУ┐јУ»Г
    # У┐ЎС╝џУДБтє│СИ╗ТаЄжбўСИЇТўЙуц║уџёжЌ«жбў№╝їт╣ХУ«ЕСИ╗жАхТЏ┤тЦйуюІ
    [params.homeInfoParams]
        # Title ТћЙу«ђуЪГуџёТгбУ┐јУ»Г
    Title = "ТгбУ┐јТЮЦтѕ░ТѕЉуџёуйЉуФЎ ­ЪЉІ"

    # Content ТћЙСйауџётГЌугдућ╗№╝їуће <pre> тїЁУБ╣№╝їт╣ХУ«Йуй«тЦйТаит╝Ј
    Content = """<div style="width: 100%; overflow-x: auto;">
<pre style="font-family: 'MS PGothic', 'SimSun', monospace; line-height: 1.0; font-size: 12px; white-space: pre; margin: 0;">
РађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРбђРБђРБаРБцРБцРБцРБђРБђРАђРађРађРађРБђРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађ
РађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРбђРбёРбђРађРАђРБаРБ┤РБЙРБ┐Ра┐РаЪРаЏРаЏРаЏРа┐Ра┐Ра┐РайРа┐Ра┐Ра┐Ра┐Ра┐РбХРБдРБёРАђРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађ
РађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРбђРБ┤РА┐РАхРБ»РБЙРБ┐РБ┐РаЪРаЅРбђРБцРаХРађРађРађРађРађРађРађРађРађРађРађРађРађРаѕРаЎРа┐РБиРБёРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађ
РађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРБаРБ┐РбФРБ«Рб┐РБ┐РА┐РаЏРаЂРааРаћРбІРаЂРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРбђРађРаѕРа╗РБиРБдРааРБЃРБєРађРађРађРађРађРађРађРађРађРађРађРађ
РађРађРађРађРађРађРађРађРађРађРађРађРађРађРбаРБЙРбЪРБхРА┐Рб╗РА┐РаІРађРађРБаРб┤РАЙРаЃРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРаЂРађРађРаѕРб╗РБиРБЈРбФРБДРађРађРађРађРађРађРађРађРађРађРађ
РађРађРађРађРађРађРађРађРађРађРађРађРбђРБ┤РБ┐РБ┐РбИРБ┐РБаРаІРађРАаРБфРбъРАхРаІРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРаЎРБ┐РБДРА╗РБиРАђРађРађРађРађРађРађРађРађРађ
РађРађРађРађРађРађРађРађРађРађРађРађРАЪРАЎРбЙРБ┐РБИРАЪРаЂРађРбаРаъРаЂРаІРађРађРА┤РађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРаўРБ┐РБиРА╣РБиРАёРађРађРађРађРађРађРађРађ
РађРађРађРађРађРађРађРађРађРађРађРбИРаЂРАЄРбИРБ┐РаІРађРбђРАХРаЃРађРађРбаРаЃРаюРаЂРађРБђРађРађРађРађРбђРБдРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРаеРБ┐РаЈРБ┐РБЄРАђРађРађРађРађРађРађРађ
РађРађРађРађРађРађРађРађРађРађРађРАЈРађРАёРА╝РаЂРађРбђРБЙРаЂРађРађРађРАюРАИРађРађРБ░Рб╗РађРађРађРађРбИРаЅРБдРађРађРађРађРађРађРађРађРађРађРађРБєРађРађРађРађРађРб┐РбИРБ┐Рб╗Рб▒РАёРађРађРађРађРађРађ
РађРађРађРађРађРађРађРађРађРађРб░РаЂРбђРАЪРађРбаРбЃРБЙРаЄРађРађРађРб░РаЂРађРађРБ░РбЃРбИРАёРАёРађРађРбИРбђРаўРбДРАђРађРађРађРађРађРађРађРађРађРаўРАёРбИРађРађРађРбИРБЙРаЃРаѕРаѕРАЄРађРађРађРађРађРађ
РађРађРађРађРађРађРађРађРађРађРАјРбаРаъРађРА░РаЃРБ╝РаЈРађРађРађРађРАюРађРађРб░РаЃРаЅРаИРАЄРБДРађРађРбИРаѕРбдРаўРбиРАёРађРађРађРађРађРађРађРађРађРб▒РАђРаЂРађРађРбИРА┐РађРађРађРАЄРађРађРађРађРађРађ
РађРађРађРађРађРађРађРађРађРб░РБхРаЃРађРб░РаЂРБ╝РаЈРађРађРађРађРбђРаЄРађРбаРаЪРањРањРа┤РБиРБ┐РАђРађРбИРаѓРађРа▒РБёРа╗РАёРађРађРађРађРађРађРађРађРађРбДРађРађРађРаѕРађРађРађРађРаБРађРађРађРађРађРађ
РађРађРађРађРађРађРађРађРБаРАЙРбІРађРбђРаЄРБИРаЈРађРађРађРађРађРАИРаёРбђРајРађРађРађРађРаИРБЄРбБРађРбИРАёРађРађРаѕРА┤РаъРБєРађРађРађРађРађРађРађРађРаўРАєРађРађРађРађРађРађРађРб░РађРађРађРађРађРађ
РађРађРађРађРађРађРбђРАЙРбЪРАЄРАўРаЃРАюРБ╝РБ»РађРађРађРађРађРађРАЄРбђРАъРађРађРађРађРађРађРб╗РаѕРбДРаИРАЄРађРађРађРађРађРаЎРбєРађРађРађРађРађРађРађРађРб╣РАђРађРађРађРађРађРађРбИРађРађРађРађРађРађ
РађРађРађРађРађРаљРаЅРађРАИРађРаЃРб░РБ╗РБ»РаЄРађРађРађРађРађРбИРбЂРБЙРБцРБђРађРађРађРађРађРађРађРаѕРбиРАЄРађРађРађРађРађРађРаѕРаДРАђРађРбаРађРађРађРађРађРбДРађРађРађРађРађРађРбИРађРађРађРађРађРађ
РађРађРађРађРађРађРађРађРАЄРађРбђРБиРбБРајРађРађРађРађРађРађРб╣РАъРађРаЅРаЏРа┐РБХРБгРАњРаёРађРађРађРаѕРаІРађРађРађРБђРАђРађРБђРБђРБ╝РБдРАђРбЄРађРађРађРађРаИРБДРађРађРађРађРађРбИРађРађРађРађРађРађ
РађРађРађРађРађРађРађРбђРађРађРБ╝РБ»РаЈРбђРБђРАђРађРађРађРађРбИРАЄРб░Ра┐Ра┐Ра┐РаЪРаЏРаЏРаЃРађРађРађРађРађРађРађРБ»РБ┤РБЙРА┐РаЏРаЏРаЅРаЅРа│РАъРАєРађРбђРБђРб░Ра╗РБєРађРађРађРађРаѕРађРађРађРађРађРађ
РађРађРађРађРађРађРађРбИРађРађРБ┐РаІРађРАюРађРАЄРађРађРађРађРбИРБиРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРаЅРаЎРаЏРа┐РбиРБХРађРА╝РађРа╣РБђРБ║РаѕРАЈРаЄРађРађРађРађРађРађРАЄРађРађРађРађРађ
РађРађРађРађРађРађРађРАЈРађРаюРаЂРађРбђРаЃРб░РаЃРађРБ░РАєРађРбИРаЅРбБРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРађРБ╝РбДРБёРБ┤РаІРб┐РАђРб╣РађРађРађРађРађРађРађРАЄРађРађРађРађРађ
РађРађРађРађРађРађРбаРаЄРађРађРађРађРАъРађРбИРбђРАъРаЂРБИРађРбИРБёРађРбБРАђРађРађРађРађРађРАцРацРацРбёРБђРађРађРађРађРађРађРађРбђРаъРАЪРАјРАДРаеРађРађРАЄРаѕРАЄРађРађРађРађРађРађРАЄРађРађРађРађРађ
РађРађРађРађРађРађРбИРађРађРађРађРбаРаЄРбђРБ┐РаЈРађРА░Рб╣РађРбИРаѕРа│РБцРБЦРБёРБђРБђРБђРАђРаБРАђРађРбђРаћРађРађРађРађРађРБђРА┤РаЃРБ╝РАЄРбаРаЏРАёРађРађРбАРађРб║РађРађРађРађРађРађРб░РађРађРађРађРађ
РађРађРађРађРађРађРАъРађРађРађРађРА╝РађРбИРаЃРађРбаРаЃРађРАєРбИРађРађРаѕРаЅРб╗РБ┐РБ┐РБ┐РБ┐РАЄРаѕРаЅРаЂРађРађРађРБаРаХРаЙРаДРаёРаљРБ╗РбаРаЃРађРа▒РАђРађРаўРАёРаѕРБєРађРађРађРађРађРбИРађРађРађРађРађ
РађРађРађРађРађРБ░РББРацРајРаЅРайРаЂРађРаўРађРА▓РаЈРађРађРб▒РбИРађРађРађРађРађРаўРађРБиРбёРаЉРадРацРањРбѓРБЕРА«РАъРађРађРађРађРбаРБДРаЃРађРађРађРбБРааРађРаЃРађРаўРаЇРаЎРбдРацРБЋРаЙРАёРађРађРађРађ
РађРађРађРађРб░Рб╣РАђРађРађРађРађРађРађРађРаѕРаЎРађРБёРАђРаѕРб┐РађРађРађРБ░РбъРаЄРађРаўРађРаЎРБбРБаРаќРаЅРаѕРађРађРаѕРббРБђРађРа░РаЃРађРађРбђРА┤РАъРаЅРађРађРађРађРађРађРаѕРађРбИРајРАЄРађРађРађРађ
РађРађРађРбђРБЙРБёРбДРАђРађРађРађРађРађРађРађРађРађРб╗РБЮРабРАїРађРађРбИРБ┐РАєРађРађРађРађРбђРАеРаХРбђРАђРађРБаРбдРАђРБИРБ┐РађРађРађРБаРбъРБЕРАЄРађРађРађРађРађРађРађРађРађРБаРаъРА╝Рб▒РађРађРађРађ
РађРађРађРБ╝РБ┐РБЙРБиРБЇРа▓РбёРАђРађРађРађРађРађРбђРБЙРБ┐РАиРБїРббРАђРБЙРаЏРБ┐РАђРађРађРБаРАЈРађРађРађРб▒РБўРбДРБаРб┐РАЈРб╗РАДРбаРаЪРАхРб┐РБ┐РБДРађРађРађРађРађРађРБђРАцРбъРБАРБЙРБЙРБїРБєРађРађРађ
РађРађРб░РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБХРБгРАЉРа▓РбцРБђРБаРБЙРБ┐РБ┐РаЃРаѕРббРб╗РАЄРађРаЎРаиРаъРаІРаЅРбиРађРађРбаРАІРаЏРа╗Ра╗РаЪРаЂРаѕРБ╗РбЄРаъРаЂРБ╣РБ┐РБ┐РБиРБёРБђРацРаќРБІРБЦРБХРБ┐РБ┐РБ┐РБ┐РБ┐РБ╝РАёРађРађ
РађРбаРБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБХРБгРБїРБЅРаЎРаЏРаЊРањРаџРБаРаЈРађРађРађРађРађРађРбИРађРађРбИРАђРађРађРађРађРађРађРб┐РАўРањРањРаџРаЏРаІРБЅРБеРБцРБХРБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБДРађРађ
РбђРБЙРБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБГРБйРа┐РБ╣РаЂРађРађРађРађРађРађРађРбИРађРађРаИРАЄРађРађРађРађРађРађРађРаИРБ┐Рб┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РбДРађ
РбЙРБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РА┐РаІРА┤РАЈРађРађРађРађРађРађРађРађРАЪРађРађРађРАЄРађРађРађРађРађРађРађРаѕРБ┐РАёРаЎРБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ»РбЄ
РБЙРБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РА┐РаІРбаРб░РБ┐РаЂРађРађРађРађРађРађРађРађРАЄРађРађРађРАЄРађРбаРБђРБђРБђРБђРБдРађРб╣РБДРађРаѕРа╗РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ«
РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РаЈРађРађРаўРБ┐РаЈРађРађРађРађРађРађРађРађРађРАЄРађРађРађРАЄРађРађРаЅРаЅРаЅРаЅРаЂРађРађРб┐РБХРађРађРаѕРа╗РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐
РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РаЪРаЂРађРађРађРб░РАЪРађРађРађРађРађРађРађРађРађРађРаЂРађРађРађРбИРађРађРађРађРађРађРађРађРађРађРБ┐РађРађРађРађРаѕРб┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐РБ┐
</pre>
</div>"""

    # 3. тЉіУ»ЅСИ╗жбў№╝їСИ╗жАхуџёТќЄуФатѕЌУАеСИ╗УдЂТЮЦТ║љС║ј "posts" ТќЄС╗Хтц╣
    mainSections = ["posts"]

    [params.comments]
        enabled = true

    [[params.socialIcons]]
        name = "github"
        url = "https://github.com/QwQBiG"

    [[params.socialIcons]]
        name = "bilibili"
        url = "https://space.bilibili.com/3546921071282890"

     [params.author]
        name = "QwQBiG"

    [params.search]
        enabled = true
        # тЈ»жђЅжА╣: СйатЈ»С╗ЦжЎљтѕХтЈфтюеТЪљС║Џтѕєтї║/у▒╗тъІуџётєЁт«╣жЄїТљюу┤б
        # ex: content/posts, content/docs уГЅ
        # contentTypes = ["page", "post"]

    [params.Toc] # Т▓АТюЅуће
        enable = true
        # true: уЏ«тйЋС╝џС┐ЮТїЂтюет▒Јт╣ЋСИі
        # false: уЏ«тйЋС╝џжџЈжАхжЮбТ╗џтіе
        keepStatic = false
        # true: УЄфтіетюетЈ│СЙДСИ║уЏ«тйЋуЋЎтЄ║уЕ║жЌ┤
        # false: уЏ«тйЋС╝џтхїтЁЦТќЄуФатєЁт«╣ТхЂСИГ
        autoEnable = true

    [params.assets]
        # тљ»ућеУЄфт«џС╣Ѕ CSS (ућеС║јТЏ┤ТЇбтГЌСйЊ)
        customCSS = ["css/custom.css"]
        
        # т╝ђтљ» KaTeX ТЋ░тГдтЁгт╝ЈТћ»ТїЂ
        disableHLJS = true
        [params.assets.math]
            enable = true