# hugo.toml (精简配置)

baseURL = "https://QwQBiG.github.io/"
languageCode = "zh-cn"
title = "QwQBiG's World"
theme = "github.com/adityatelange/hugo-PaperMod"

[pagination]
  pagerSize = 10

[markup]
  [markup.highlight]
    lineNos = true
    [markup.goldmark.renderer]
      unsafe = true

[outputs]
  home = ["HTML", "RSS", "JSON"]

[taxonomies]
  tag = "tags"
  category = "categories"
  series = "series"

[menu]
  [[menu.main]]
    identifier = "archives"
    name = "归档"
    url = "/archives/"
    weight = 10
  [[menu.main]]
    identifier = "series"
    name = "合集"
    url = "/series/"
    weight = 15
  [[menu.main]]
    identifier = "tags"
    name = "标签"
    url = "/tags/"
    weight = 20
  [[menu.main]]
    identifier = "about"
    name = "关于"
    url = "/about/"
    weight = 30
  [[menu.main]]
    identifier = "search"
    name = "搜索"
    url = "/search/"
    weight = 40

[params]

    mainSections = ["cs", "series"]

    ShowCodeCopyButtons = true
    ShowReadingTime = true

    [params.profileMode]
        enabled = false

    [params.comments]
        enabled = true

    [[params.socialIcons]]
        name = "github"
        url = "https://github.com/QwQBiG"

    [[params.socialIcons]]
        name = "bilibili"
        url = "https://space.bilibili.com/3546921071282890"

    [[params.socialIcons]]
        name = "leetcode"
        url = "https://leetcode.cn/u/heuristic-agnesipjp/"

     [params.author]
        name = "QwQBiG"

    [params.search]
        enabled = true

    [params.Toc]
        enable = true
        keepStatic = false
        autoEnable = true

    [params.assets]
        customCSS = ["css/custom.css"]
        disableHLJS = true
        [params.assets.math]
            enable = true