/*
字体
*/
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400&display=swap');
body, .prose { font-family: 'JetBrains Mono', monospace; }
code, kbd, samp, pre { font-family: 'JetBrains Mono', monospace; }