{{- define "main" -}}

<div class="main-container">
    <div class="main-left">
        {{- if .Site.Params.homeInfoParams -}}
            {{- partial "home_info.html" . -}}
        {{- end -}}

        <div class="posts-list">
            {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
            {{ $paginator := .Paginate $pages }}

            {{ range $paginator.Pages }}
                {{ if .Params.pin }}
                    {{/* 如果文章被置顶 (pin: true)，就使用我们专属的卡片模板 */}}
                    {{ partial "series_overview_card.html" . }}
                {{ else }}
                    {{/* 否则，使用主题默认的卡片模板 */}}
                    {{ .Render "summary" }}
                {{ end }}
            {{ end }}
        </div>

        {{- template "_internal/pagination.html" . -}}
    </div>

    {{- if .Site.Params.profileMode.enabled -}}
    <div class="main-right">
        {{- partial "profile.html" . -}}
    </div>
    {{- end -}}
</div>

{{- end }}{{/* end main */ -}}