{{- define "main" -}}

<div class="main-container">
    <div class="main-content">

        {{/* 1. 渲染欢迎语 */}}
        {{- if .Site.Params.homeInfoParams -}}
            {{- partial "home_info.html" . -}}
        {{- end -}}

        {{/* 2. 渲染文章列表 */}}
        <div class="posts-list">
            {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}

            {{/* 关键修正：将置顶文章和普通文章分开处理 */}}
            {{ $pinnedPages := where $pages ".Params.pin" true }}
            {{ $regularPages := where $pages ".Params.pin" "ne" true }}

            {{/* 先循环渲染所有置顶文章 */}}
            {{ range $pinnedPages }}
                {{ partial "series_overview_card.html" . }}
            {{ end }}

            {{/* 再分页渲染所有普通文章 */}}
            {{ $paginator := .Paginate $regularPages }}
            {{ range $paginator.Pages }}
                {{ partial "post_entry.html" . }}
            {{ end }}
        </div>

        {{/* 3. 渲染分页导航 */}}
        {{- template "_internal/pagination.html" . -}}
        
    </div>
</div>

{{- end }}{{/* end main */ -}}